<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/cards.css">
</head>
<body>
    <%- include('../partials/navBar.ejs') %>
    <h1 id="tit">Snacks</h1>
    <div class="div1">
      <% sna.map((x)=>{%>
        <% let url=`/products/snacks/${x.id}` %>
        <div class="card">
          <div class="id">
            <!-- <h2>Product Id: <%= x.id %></h2> -->
          <img src=<%=x.image%> alt="">
          </div>
          <div class="ddet">
            <h1><%= x.productName %></h1>
          <!-- <h3>Price: <%= x.price%></h3>
          <p><b>Description:</b> <%= x.description%></p> -->
          <a href=<%= url %>> See Details</a>
          </div>
        </div>
          <%})%>
        </div>
</body>
</html>